// ==========================
// I. GENERAL
// ==========================

// 1. Fonts
//	1.1 Fonts Family
$pacifico: 'Pacifico', cursive;
$open_sans: 'Open Sans', sans-serif;

//	1.2 Font Weight
$lt: 300;
$sb: 600;
$eb: 800;

// 2. Colors
$medium_green: #0feb9e;
$headers_green: #0eb493;
$headers_green_opacity: rgba(14, 180, 147, 0.7);
$blue: #32b0ee;
$light_gray: #f4f7f9;
$dark_gray: #062033;

// 3. Mixins
@mixin line {
	position: absolute;
	content: '';
}

@mixin line_green {
	background-color: #0fde95;
	width: 25px;
	height: 1px;
}

@mixin line_gray {
	background-color: #e6e8ea;
	width: 100px;
	height: 2px;
}

@mixin hover_content {
	position: absolute;
	visibility: hidden;
	opacity: 0;
	overflow-y: auto;
	transition: visibility 1s, opacity 1s;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}


// ==========================
// II. THEME CUSTOM STYLE
// ==========================

// 1. Text
//	1.1 Text Weight
.text-light {
	font-weight: 300;
}

.text-bold {
	font-weight: $eb;
}

//	1.2 Text Color
.text-green {
	color: $medium_green;
}

.text-dark {
	color: $dark_gray;
}

// 2. Bg Colors
.bg-green {
	background-color: rgba(14, 180, 147, 1);
	transition: 0.7s;
}

.bg-green-o {
	background-color: rgba(14, 180, 147, 0.2);
	transition: 0.7s;
}

// 3. Section
.section {
	padding: 50px 0;
	color: $dark_gray;

	font: {
		family: $open_sans;
	}
}

.section-title {
	font: {
		family: $open_sans;
		weight: $eb;
	}

	text: {
		align: center;
		transform: uppercase;
	}

	padding: {
		bottom: 20px;
	}

	color: $headers_green;
}

.section-text {
	color: $dark_gray;
	text-align: center;
	font-weight: $sb;
	padding-bottom: 40px;
	width: 60%;
	margin: 0 auto;
}

// 4. Other
.heart-line {
	width: 18px;
	height: 14px;
	margin: {
		left: auto;
		right: auto;
		bottom: 50px;
	}

	display: block;
	position: relative;

	&:after {
		@include line;
		@include line_gray;
		bottom: 7.5px;
		left: -110px;
	}

	&:before {
		@include line;
		@include line_gray;
		bottom: 7.5px;
		right: -110px;
	}

	img {
		display: block;
	}
	
}

// ==========================
// III. BOOTSTRAP EDIT
// ==========================

.navbar-brand {
	font: {
		family: $pacifico;
		size: 25px;
	}
}

.nav-pills {
	.nav-link {
		color: #062033;

		font: {
			weight: 800;
		}

		&.active {
			background-color: #0eb493;
		}
	}
}





// ==========================
// IV. SECTIONS
// ==========================

// 1. Nav
// 2. Banner
.banner {
	position: relative;
	background: {
		image: url('img/banner.jpg');
		size: cover;
	}

	padding: 50px 10px;

	min-height: 100vh;
	color: #fff;

}

.banner-headings {
	text-align: center;

	h1 {
		font: {
			size: 70px;
		}
	}

	h2 {
		position: relative;
		font: {
			size: 40px;
		}

		@media all and (min-width: 768px) {
			&:after {
				@include line;
				@include line_green;
				top: 25px;
				left: -40px;
			}

			&:before {
				@include line;
				@include line_green;
				top: 25px;
				right: -40px;
			}
		}
	}

	h3 {
		font: {
			size: 20px;
		}
	}
}

.banner-social {
	margin: {
		top: 70px;
	}

	a {
		font: {
			size: 30px;
		}
		margin: 10px;
		color: rgba(255, 255, 255, 0.5);
		transition: color 1s;
	}

	a:hover {
		color: rgba(255, 255, 255, 1);
	}
}

// 3. Features
#features {
	background-color: $light_gray;

	h3 {
		font: {
			weight: $sb;
		}
	}
}

// 4. Works
.work {
	position: relative;
	color: #fff;

	@media all and (min-width: 576px) {
		width: 50%;
	}
	
	@media all and (min-width: 768px) {
		width: 25%;
	}

	h2 {
		font: {
			weight: $sb;
			size: 25px;
		}
	}

	h3 {
		font: {
			weight: 300;
			size: 20px;
		}
	}
}

.work-content {
	@include hover_content;
	background-color: $headers_green_opacity;
	text-align: center;
}

.work-img {
	display: block;
	width: 100%;
	height: auto;
}

// 5. Team
.member-panel {

	margin: {
		bottom: 50px;
	}

	@media all and (min-width: 576px) {

		width: 49%;

		margin: {
			right: 2%;
		}

		&:nth-child(2n+0) {
			margin: {
				right: 0;
			}
		}
	}

	@media all and (min-width: 768px) {

		width: 23.5%;
		margin: {
			bottom: 0;
		}

		&:nth-child(2n+0) {
			margin: {
				right: 2%;
			}
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}
	}

	img {
		display: block;
		width: 100%;
		height: auto;
	}

	h4 {
		color: #062033;
		font: {
			weight: $sb;
			size: 20px;
		}
	}

	h5 {
		color: #a7abb0;
		font: {
			size: 14px;
		}
	}
}

.member {
	position: relative;
	margin: {
		bottom: 20px;
	}
}

.member-content {
	@include hover_content;
	padding: 15px;
	background-color: $headers_green_opacity;

	p {
		color: #fff; 

		&:first-child {
			font: {
				weight: 700;
			}
		}
	}
}

.member-social {

	a {
		padding: 5px;
		background-color: #0c7c66;
		color: #fff;

		&:hover {
			background-color: #fff;
			color: #0c7c66;
		}
	}
}

// 6. Facts
#facts {
	color: #fff;
	background-image: url('img/facts-bg.jpg');
}

.fact-icon {
	margin: {
		bottom: 30px;
	}
}

.fact-number {
	font: {
		weight: $sb;
		size: 40px;
	}
}

.fact-title {
	text: {
		transform: uppercase;
	}

	font: {
		size: 15px;
	}

	@media all and (min-width: 576px) {
		margin-bottom: 60px;
	}
}

// 7. Contact
.contact-form {

	margin: 30px 0;

	input {
		width: 49%;
		display: block;

		margin: {
			bottom: 30px;
		}

		&:first-child {
			margin: {
				right: 2%;
			}
		}
	}

	textarea {
		width: 100%;
	}

	input, textarea {
		height: 40px;
		border: {
			top: 0;
			bottom: 1px solid #ccc;
			left: 0;
			right: 0;
		}
	}

	button {
		position: relative;
		height: 40px;
		border: 0;
		background-color: transparent;

		margin: {
			top: 20px;
		}

		&:before {
			position: absolute;
			content: '';
			width: 100%;
			height: 100%;
			left: -30px;
			top: 13.5px;
			background: {
				image: url('img/envelope.png');
				repeat: no-repeat;
			}
		}

		&:hover {
			cursor: pointer;
		}
	}
}

.social {

	margin-top: 30px;
	
	a {
		color: rgba(0, 0, 0, 0.5);
		transition: color 0.5s;
		margin: {
			right: 10px;
		}

		font: {
			size: 25px;
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}

		&:hover {
			color: $headers_green;
		}
	}

	@media all and (min-width: 768px) {

		margin-top: 0;

		a {
			margin: {
				bottom: 10px;
				right: 0;
		}

			&:last-child {
				margin: {
					bottom: 0;
				}
			}

		}
	}
}

// 8. Map
// 9. Footer
.footer {
	border-top: 5px solid $dark_gray;
	background-color: $headers_green;
	color: #fff;
}

.footer-title {
	font: {
		size: 18px;
		weight: bold;
	}

	margin: {
		bottom: 30px;
	}
}

.newsletter {

	position: relative;
	margin: {
		bottom: 20px;
	}

	input {
		border: 2px solid #fff;
		border-radius: 5px;
		background-color: transparent;
		width: 100%;
		height: 40px;
		padding: {
			top: 7px;
			bottom: 7px;
			left: 7px;
			right: 27px;
		}
	}

	button {
		border: 0;
		width: 18px;
		height: 13px;
		position: absolute;
		top: 14.5px;
		right: 9px;
		transition: transform 1s;

		background: {
			color: transparent;
			image: url('img/arrow.png');
			repeat: no-repeat;
		}

		&:hover {
			transform: scale(1.3);
			cursor: pointer;
		}
	}
}

.explore {

	margin: {
		right: 20px;
	}

	a {
		color: #fff;
	}
}

.copyright {
	margin: {
		top: 50px;
	}

	p {
		padding-left: 5px;
	}

	p:first-child {
		border-left: 1px solid $light_gray;
	}
}