.text-light {
  font-weight: 300; }

.text-bold {
  font-weight: 800; }

.text-green {
  color: #0feb9e; }

.text-dark {
  color: #062033; }

.bg-green {
  background-color: #0eb493;
  transition: 0.7s; }

.bg-green-o {
  background-color: rgba(14, 180, 147, 0.2);
  transition: 0.7s; }

.section {
  padding: 50px 0;
  color: #062033;
  font-family: "Open Sans", sans-serif; }

.section-title {
  font-family: "Open Sans", sans-serif;
  font-weight: 800;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 20px;
  color: #0eb493; }

.section-text {
  color: #062033;
  text-align: center;
  font-weight: 600;
  padding-bottom: 40px;
  width: 60%;
  margin: 0 auto; }

.heart-line {
  width: 18px;
  height: 14px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  display: block;
  position: relative; }
  .heart-line:after {
    position: absolute;
    content: '';
    background-color: #e6e8ea;
    width: 100px;
    height: 2px;
    bottom: 7.5px;
    left: -110px; }
  .heart-line:before {
    position: absolute;
    content: '';
    background-color: #e6e8ea;
    width: 100px;
    height: 2px;
    bottom: 7.5px;
    right: -110px; }
  .heart-line img {
    display: block; }

.navbar-brand {
  font-family: "Pacifico", cursive;
  font-size: 25px; }

.nav-pills .nav-link {
  color: #062033;
  font-weight: 800; }
  .nav-pills .nav-link.active {
    background-color: #0eb493; }

.banner {
  position: relative;
  background-image: url("img/banner.jpg");
  background-size: cover;
  padding: 50px 10px;
  min-height: 100vh;
  color: #fff; }

.banner-headings {
  text-align: center; }
  .banner-headings h1 {
    font-size: 70px; }
  .banner-headings h2 {
    position: relative;
    font-size: 40px; }
    @media all and (min-width: 768px) {
      .banner-headings h2:after {
        position: absolute;
        content: '';
        background-color: #0fde95;
        width: 25px;
        height: 1px;
        top: 25px;
        left: -40px; }
      .banner-headings h2:before {
        position: absolute;
        content: '';
        background-color: #0fde95;
        width: 25px;
        height: 1px;
        top: 25px;
        right: -40px; } }
  .banner-headings h3 {
    font-size: 20px; }

.banner-social {
  margin-top: 70px; }
  .banner-social a {
    font-size: 30px;
    margin: 10px;
    color: rgba(255, 255, 255, 0.5);
    transition: color 1s; }
  .banner-social a:hover {
    color: white; }

#features {
  background-color: #f4f7f9; }
  #features h3 {
    font-weight: 600; }

.work {
  position: relative;
  color: #fff; }
  @media all and (min-width: 576px) {
    .work {
      width: 50%; } }
  @media all and (min-width: 768px) {
    .work {
      width: 25%; } }
  .work h2 {
    font-weight: 600;
    font-size: 25px; }
  .work h3 {
    font-weight: 300;
    font-size: 20px; }

.work-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  transition: visibility 1s, opacity 1s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(14, 180, 147, 0.7);
  text-align: center; }

.work-img {
  display: block;
  width: 100%;
  height: auto; }

.member-panel {
  margin-bottom: 50px; }
  @media all and (min-width: 576px) {
    .member-panel {
      width: 49%;
      margin-right: 2%; }
      .member-panel:nth-child(2n+0) {
        margin-right: 0; } }
  @media all and (min-width: 768px) {
    .member-panel {
      width: 23.5%;
      margin-bottom: 0; }
      .member-panel:nth-child(2n+0) {
        margin-right: 2%; }
      .member-panel:last-child {
        margin-right: 0; } }
  .member-panel img {
    display: block;
    width: 100%;
    height: auto; }
  .member-panel h4 {
    color: #062033;
    font-weight: 600;
    font-size: 20px; }
  .member-panel h5 {
    color: #a7abb0;
    font-size: 14px; }

.member {
  position: relative;
  margin-bottom: 20px; }

.member-content {
  position: absolute;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
  transition: visibility 1s, opacity 1s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 15px;
  background-color: rgba(14, 180, 147, 0.7); }
  .member-content p {
    color: #fff; }
    .member-content p:first-child {
      font-weight: 700; }

.member-social a {
  padding: 5px;
  background-color: #0c7c66;
  color: #fff; }
  .member-social a:hover {
    background-color: #fff;
    color: #0c7c66; }

#facts {
  color: #fff;
  background-image: url("img/facts-bg.jpg"); }

.fact-icon {
  margin-bottom: 30px; }

.fact-number {
  font-weight: 600;
  font-size: 40px; }

.fact-title {
  text-transform: uppercase;
  font-size: 15px; }
  @media all and (min-width: 576px) {
    .fact-title {
      margin-bottom: 60px; } }

.contact-form {
  margin: 30px 0; }
  .contact-form input {
    width: 49%;
    display: block;
    margin-bottom: 30px; }
    .contact-form input:first-child {
      margin-right: 2%; }
  .contact-form textarea {
    width: 100%; }
  .contact-form input, .contact-form textarea {
    height: 40px;
    border-top: 0;
    border-bottom: 1px solid #ccc;
    border-left: 0;
    border-right: 0; }
  .contact-form button {
    position: relative;
    height: 40px;
    border: 0;
    background-color: transparent;
    margin-top: 20px; }
    .contact-form button:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 100%;
      left: -30px;
      top: 13.5px;
      background-image: url("img/envelope.png");
      background-repeat: no-repeat; }
    .contact-form button:hover {
      cursor: pointer; }

.social {
  margin-top: 30px; }
  .social a {
    color: rgba(0, 0, 0, 0.5);
    transition: color 0.5s;
    margin-right: 10px;
    font-size: 25px; }
    .social a:last-child {
      margin-right: 0; }
    .social a:hover {
      color: #0eb493; }
  @media all and (min-width: 768px) {
    .social {
      margin-top: 0; }
      .social a {
        margin-bottom: 10px;
        margin-right: 0; }
        .social a:last-child {
          margin-bottom: 0; } }

.footer {
  border-top: 5px solid #062033;
  background-color: #0eb493;
  color: #fff; }

.footer-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 30px; }

.newsletter {
  position: relative;
  margin-bottom: 20px; }
  .newsletter input {
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: transparent;
    width: 100%;
    height: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 27px; }
  .newsletter button {
    border: 0;
    width: 18px;
    height: 13px;
    position: absolute;
    top: 14.5px;
    right: 9px;
    transition: transform 1s;
    background-color: transparent;
    background-image: url("img/arrow.png");
    background-repeat: no-repeat; }
    .newsletter button:hover {
      transform: scale(1.3);
      cursor: pointer; }

.explore {
  margin-right: 20px; }
  .explore a {
    color: #fff; }

.copyright {
  margin-top: 50px; }
  .copyright p {
    padding-left: 5px; }
  .copyright p:first-child {
    border-left: 1px solid #f4f7f9; }

/*# sourceMappingURL=style.css.map */
