//COLORS
$orange: #ff8b38;
$alt_orange: #ff9b51;
$lightgray: #bdbdbd;
$alt_lightgray: #f5f5f5;
$darkgray: #333333;
$alt_darkgray: #86878b;

//FONTS
$os: 'Open Sans', sans-serif;
$rw: 'Raleway', sans-serif;

//GENERAL STYLE

body {
	font: {
		family: $os;
	}
}

.bg-black {
	background-color: #000;
}

.section {
	padding: {
		top: 50px;
		bottom: 50px;
	}
}

.section-gray {
	background-color: $alt_lightgray;
}

.section-title {
	text: {
		align: center;
		transform: uppercase;
	}

	font: {
		family: $rw;
		weight: 300;
	}
}

.section-text {
	text: {
		align: center;
	}

	margin: {
		bottom: 50px;
	}

	color: $lightgray;
}

.section-img {
	width: 100%;
	height: auto;
}

.cs-img {
	width: 80%;
	height: auto;
	box-shadow: 1px 1px 20px $lightgray;
	display: block;
	margin: 0 auto;
}

.line {
	width: 70px;
	height: 3px;

	margin: {
		top: 30px;
		bottom: 30px;
	}
}

.line-white {
	background-color: #fff;
}

.line-orange {
	background-color: $orange;
}

.line-center {
	margin: {
		left: auto;
		right: auto;
	}
}

.link {
	display: block;
	max-width: 200px;
	text-align: center;
	padding: 5px 10px;
	cursor: pointer;
}

.link-white {
	border: 2px solid #fff;
	background-color: transparent;
}

.link-orange {
	border: 0;
	border-radius: 5px;
	background-color: $orange;
	box-shadow: 1px 1px 2px $lightgray;
	transition: all 1s;

	&:hover {
		background-color: $alt_orange;
	}
}

.text-light {
	color: #fff;
}

.text-dark {
	color: #000;
}

.text-orange {
	color: $alt_orange;
}

.input {
	background-color: transparent;
	width: 100%;

	border: {
		top: 0;
		bottom: 1px solid $lightgray;
		left: 0;
		right: 0;
	}

	margin: {
		bottom: 25px;
	}

	&:last-child {
		margin: {
			bottom: 0;
		}
	}

}

.f-hover {
	color: $lightgray;

	&:hover {
		color: $orange;
	}
}



// ================
// SECTIONS
// ================

// 1. Navbar
.logo-nav {
	height: 30px;
}

// 2. Banner
.banner {
	background: {
		image: url('img/header-bg.jpg');
		size: cover;
		position: center;
	}

	min-height: 100vh;
	padding: {
		top: 100px;
		bottom: 100px;
	}

	h2 {
		text: {
			transform: uppercase;
		}

		width: 60%;
	}

	p {
		font: {
			weight: 300;
		}
		@media all and (min-width: 992px) {
			width: 60%;
		}
	}
}

.trial-form {

	margin-top: 50px;

	@media all and (min-width: 576px) {
		width: 70%;
		margin: {
			left: auto;
			right: auto;
		}
	}

	@media all and (min-width: 992px) {
		margin-top: 0;
		width: 100%;
	}

	h3 {
		display: block;
		text: {
			align: center;
		}
		margin: {
			bottom: 0;
		}
		padding: 10px 5px;
		background-color: $alt_lightgray;
		border-top: {
			left-radius: 5px;
			right-radius: 5px;
		}

		font: {
			size: 20px;
			weight: 700;
		}

		color: $darkgray;
	}

	form {
		background-color: #fff;
		padding: 50px 20px;
	}

	a {
		display: block;
		background-color: $orange;

		text: {
			align: center;
		}

		padding: 10px 5px;

		border-bottom: {
			left-radius: 5px;
			right-radius: 5px;
		}
	}
}

// 3. Social
.social {
	padding: 20px 0;
	border: {
		bottom: 3px solid $lightgray;
	}

	a {
		font-size: 30px;
		color: $lightgray;
	}

	p {
		color: $lightgray;
	}

	h5 {
		font-weight: 700;
	}

	h5, p {
		padding: 0;
		margin: 0;
	}
}

// 4. Tabs
#tabs {

	h1 {
		font: {
			weight: 700;
			size: 22px;
		}

		margin: {
			top: 30px;
			bottom: 15px;
		}

		text-align: center;

		@media all and (min-width: 576px) {
			margin-top: 0;
			text-align: left;
		}
	}

	p {
		color: $darkgray; 
		font: {
			size: 16px;
		}
	}

	img {
		display: block;
		margin: {
			top: 50px;
			left: auto;
			right: auto;
		}
		width: 60%;
		height: auto;

		@media all and (min-width: 992px) {
			margin-top: 0;
			width: 100%;
		}
	}


}

.nav-pills {

	.nav-link {

		font: {
			weight: 700;
		}

		width: 120px;
		height: 120px;

		color: #fff;
		background-color: $darkgray;

		text: {
			transform: uppercase;
			align: center;
		}

		&.active {
			background-color: $orange;
		}
	}
}

.tab-content {
	margin-left: 25px;
}
// 5. Custom Section
// 6. Custom Section 2
// 7. Features
.feature {
	margin-bottom: 40px;
	&:last-child {
		margin-bottom: 0;
	}

	@media all and (min-width: 768px) {
		margin-bottom: 0;
	}

	h5 {
		margin: 15px 0;
		font-weight: 700;
	}
}

// 8. Pricing
.pricing-panel {

	//background-color: $darkgray;

	margin: {
			bottom: 40px;
	}

	&:last-child {
		margin: {
			bottom: 0;
		}
	}

	@media all and (min-width: 768px) {
		width: 32%;
		margin: {
			right: 2%;
			bottom: 0;
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}
	}
}

.pp-middle {

	@media all and (min-width: 768px) {
		position: relative;
		top: -26px;
	}
}

.pricing-title {
	text: {
		align: center;
	}

	border: {
		bottom: 2px solid #fff;
	}

	padding: 10px 5px;

	font: {
		size: 20px;
		weight: 700;
	}
}

.price-header {
	background-color: $darkgray;
	border: {
		bottom: 5px solid $orange;
	}

	text: {
		align: center;
	}
}

.price-text {
	background-color: $orange;
}

.price-content {
	background-color: #fff;
}

.price-item {
	border: {
		bottom: 2px solid lightgray;
	}

	padding: 10px 5px;
	text: {
		align: center;
		transform: uppercase;
	}

	color: $lightgray;

	&:last-child {
		border: {
			bottom: 0;
		}
	}
}

.payment {
	font: {
		style: italic;
		size: 14px;
		weight: 700;
	}

	color: $lightgray;
	display: block;
	margin-bottom: 15px;
}

.price {
	display: block;

	font: {
		size: 50px;
		weight: 900;
	}
}

// 9. Reviews
.review {

	margin: {
		bottom: 40px;
	}

	&:last-child {
		margin: {
			bottom: 0; 
		}
	}
	
	@media all and (min-width: 768px) {
		width: 32%;
		margin: {
			right: 2%;
			bottom: 0;
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}
	}
}

.review-content {
	position: relative;
	background: {
		color: $alt_lightgray;
	}

	border: {
		radius: 5px;
	}

	padding: 15px 10px;
	color: $lightgray;

	font: {
		style: italic;
		size: 14px;
	}

	&:after {
		position: absolute;
		content: '';
		width: 25px;
		height: 25px;
		bottom: -13px;
		left: 25px;
		background: {
		color: $alt_lightgray;
		}
		transform: rotate(45deg);
	}
}

.review-person {
	margin: {
		top: 30px;
	}

	img {
		width: 70px;
		height: 70px;
		margin-right: 15px;
	}

	h2 {
		font: {
			size: 18px;
			weight: 700;
		}
	}

	h3 {
		color: $lightgray;
		font: {
			size: 14px;
		}
	}
}

// 10. Download
.download {
	background: {
		image: url('img/bg.jpg');
		attachment: fixed;
	}
}

// 11. Contact
.contact-form {
	input {

		&:last-child {
			margin-bottom: 25px;

			@media all and (min-width: 768px) {
				margin-bottom: 0;
			}
		}

		

	}
	textarea {
		height: 100%;
	}

	button {
		margin: 40px auto 0 auto;
	}
}

// 12. Footer
.footer {
	padding: 20px 0;

	a {
		font: {
			size: 25px;
		}

		padding: 10px;
	}

	p {
		color: $lightgray;
	}
}

.top-scroll {
	display: none;
	background: $orange;
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	opacity: 0.6;
	border-radius: 90px;
	font-size: 25px;
	transition: opacity 0.5s;
	cursor: pointer;

	&:hover {
		opacity: 1;
	}
}