body {
  font-family: "Open Sans", sans-serif; }

.bg-black {
  background-color: #000; }

.section {
  padding-top: 50px;
  padding-bottom: 50px; }

.section-gray {
  background-color: #f5f5f5; }

.section-title {
  text-align: center;
  text-transform: uppercase;
  font-family: "Raleway", sans-serif;
  font-weight: 300; }

.section-text {
  text-align: center;
  margin-bottom: 50px;
  color: #bdbdbd; }

.section-img {
  width: 100%;
  height: auto; }

.cs-img {
  width: 80%;
  height: auto;
  box-shadow: 1px 1px 20px #bdbdbd;
  display: block;
  margin: 0 auto; }

.line {
  width: 70px;
  height: 3px;
  margin-top: 30px;
  margin-bottom: 30px; }

.line-white {
  background-color: #fff; }

.line-orange {
  background-color: #ff8b38; }

.line-center {
  margin-left: auto;
  margin-right: auto; }

.link {
  display: block;
  max-width: 200px;
  text-align: center;
  padding: 5px 10px;
  cursor: pointer; }

.link-white {
  border: 2px solid #fff;
  background-color: transparent; }

.link-orange {
  border: 0;
  border-radius: 5px;
  background-color: #ff8b38;
  box-shadow: 1px 1px 2px #bdbdbd;
  transition: all 1s; }
  .link-orange:hover {
    background-color: #ff9b51; }

.text-light {
  color: #fff; }

.text-dark {
  color: #000; }

.text-orange {
  color: #ff9b51; }

.input {
  background-color: transparent;
  width: 100%;
  border-top: 0;
  border-bottom: 1px solid #bdbdbd;
  border-left: 0;
  border-right: 0;
  margin-bottom: 25px; }
  .input:last-child {
    margin-bottom: 0; }

.f-hover {
  color: #bdbdbd; }
  .f-hover:hover {
    color: #ff8b38; }

.logo-nav {
  height: 30px; }

.banner {
  background-image: url("img/header-bg.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-top: 100px;
  padding-bottom: 100px; }
  .banner h2 {
    text-transform: uppercase;
    width: 60%; }
  .banner p {
    font-weight: 300; }
    @media all and (min-width: 992px) {
      .banner p {
        width: 60%; } }

.trial-form {
  margin-top: 50px; }
  @media all and (min-width: 576px) {
    .trial-form {
      width: 70%;
      margin-left: auto;
      margin-right: auto; } }
  @media all and (min-width: 992px) {
    .trial-form {
      margin-top: 0;
      width: 100%; } }
  .trial-form h3 {
    display: block;
    text-align: center;
    margin-bottom: 0;
    padding: 10px 5px;
    background-color: #f5f5f5;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    color: #333333; }
  .trial-form form {
    background-color: #fff;
    padding: 50px 20px; }
  .trial-form a {
    display: block;
    background-color: #ff8b38;
    text-align: center;
    padding: 10px 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; }

.social {
  padding: 20px 0;
  border-bottom: 3px solid #bdbdbd; }
  .social a {
    font-size: 30px;
    color: #bdbdbd; }
  .social p {
    color: #bdbdbd; }
  .social h5 {
    font-weight: 700; }
  .social h5, .social p {
    padding: 0;
    margin: 0; }

#tabs h1 {
  font-weight: 700;
  font-size: 22px;
  margin-top: 30px;
  margin-bottom: 15px;
  text-align: center; }
  @media all and (min-width: 576px) {
    #tabs h1 {
      margin-top: 0;
      text-align: left; } }
#tabs p {
  color: #333333;
  font-size: 16px; }
#tabs img {
  display: block;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto; }
  @media all and (min-width: 992px) {
    #tabs img {
      margin-top: 0;
      width: 100%; } }

.nav-pills .nav-link {
  font-weight: 700;
  width: 120px;
  height: 120px;
  color: #fff;
  background-color: #333333;
  text-transform: uppercase;
  text-align: center; }
  .nav-pills .nav-link.active {
    background-color: #ff8b38; }

.tab-content {
  margin-left: 25px; }

.feature {
  margin-bottom: 40px; }
  .feature:last-child {
    margin-bottom: 0; }
  @media all and (min-width: 768px) {
    .feature {
      margin-bottom: 0; } }
  .feature h5 {
    margin: 15px 0;
    font-weight: 700; }

.pricing-panel {
  margin-bottom: 40px; }
  .pricing-panel:last-child {
    margin-bottom: 0; }
  @media all and (min-width: 768px) {
    .pricing-panel {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 0; }
      .pricing-panel:last-child {
        margin-right: 0; } }

@media all and (min-width: 768px) {
  .pp-middle {
    position: relative;
    top: -26px; } }

.pricing-title {
  text-align: center;
  border-bottom: 2px solid #fff;
  padding: 10px 5px;
  font-size: 20px;
  font-weight: 700; }

.price-header {
  background-color: #333333;
  border-bottom: 5px solid #ff8b38;
  text-align: center; }

.price-text {
  background-color: #ff8b38; }

.price-content {
  background-color: #fff; }

.price-item {
  border-bottom: 2px solid lightgray;
  padding: 10px 5px;
  text-align: center;
  text-transform: uppercase;
  color: #bdbdbd; }
  .price-item:last-child {
    border-bottom: 0; }

.payment {
  font-style: italic;
  font-size: 14px;
  font-weight: 700;
  color: #bdbdbd;
  display: block;
  margin-bottom: 15px; }

.price {
  display: block;
  font-size: 50px;
  font-weight: 900; }

.review {
  margin-bottom: 40px; }
  .review:last-child {
    margin-bottom: 0; }
  @media all and (min-width: 768px) {
    .review {
      width: 32%;
      margin-right: 2%;
      margin-bottom: 0; }
      .review:last-child {
        margin-right: 0; } }

.review-content {
  position: relative;
  background-color: #f5f5f5;
  border-radius: 5px;
  padding: 15px 10px;
  color: #bdbdbd;
  font-style: italic;
  font-size: 14px; }
  .review-content:after {
    position: absolute;
    content: '';
    width: 25px;
    height: 25px;
    bottom: -13px;
    left: 25px;
    background-color: #f5f5f5;
    transform: rotate(45deg); }

.review-person {
  margin-top: 30px; }
  .review-person img {
    width: 70px;
    height: 70px;
    margin-right: 15px; }
  .review-person h2 {
    font-size: 18px;
    font-weight: 700; }
  .review-person h3 {
    color: #bdbdbd;
    font-size: 14px; }

.download {
  background-image: url("img/bg.jpg");
  background-attachment: fixed; }

.contact-form input:last-child {
  margin-bottom: 25px; }
  @media all and (min-width: 768px) {
    .contact-form input:last-child {
      margin-bottom: 0; } }
.contact-form textarea {
  height: 100%; }
.contact-form button {
  margin: 40px auto 0 auto; }

.footer {
  padding: 20px 0; }
  .footer a {
    font-size: 25px;
    padding: 10px; }
  .footer p {
    color: #bdbdbd; }

.top-scroll {
  display: none;
  background: #ff8b38;
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10px;
  right: 10px;
  opacity: 0.6;
  border-radius: 90px;
  font-size: 25px;
  transition: opacity 0.5s;
  cursor: pointer; }
  .top-scroll:hover {
    opacity: 1; }

/*# sourceMappingURL=style.css.map */
