body {
    font-family: 'Lato', sans-serif;
}

button:hover {
	cursor: pointer;
}

.navbar-dark .navbar-nav .nav-link {
	color: #fff;
	text-transform: uppercase;
}

.navbar-dark .navbar-nav .nav-link:hover {
	color: #007ecf;
}

.link {
	display: block;
	border-style: solid;
	border-width: 2px;
	background-color: transparent;
	padding: 10px 30px;
}

.link-dark {
	color: #5d5d5d;
	border-color: #5d5d5d;
}

.link-dark:hover {
	color: #f8682c;
}

.link-light:hover {
	color: #a5c63b;
	text-decoration: none;
}

.link-light {
	color: #fff;
	border-color: #fff;
}

.store-links a {
	margin: 0 20px 20px 20px;
}

/* BANNER */
.banner {
	background-image: url('../img/banner-bg.jpg');
	color: #fff;
	text-align: center;
	min-height: 100vh;
	position: relative;
}


.banner-text {
	padding-top: 150px;
	padding-bottom: 20px;
}

.banner-img {
	height: 80vh;
	width: auto;
	
}

@media all and (min-width: 768px) {
	.banner-img {
		position: absolute;
		top: 50px;
		left: 100px;
	}
}

.banner-text button {
	margin: 40px auto;
}

.navbar-nav .nav-item {
	position: relative;
	transition: color 1s;
}

.navbar-nav .nav-item:after {
	position: absolute;
	content: '';
	width: 0;
	height: 2px;
	background-color: #009ddc;
	left: 0;
	bottom: 0;
	transition: width 0.5s;
}

.navbar-nav .nav-item:hover:after {
	width: 100%;
}

.navbar-nav .nav-item:hover {
	color: #009ddc;
}

@media all and (min-width: 768px) {

	.store-links a {
		margin: 0 20px 0 0;
	}

	.store-links a:last-child {
		margin-right: 0;
	}

}

/*.stest {
	position: relative;
}

.stest:before {
	position: absolute;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	min-height: 500px;
	background-color: red;
	z-index: -1;
}*/

/* FOOTER */
.footer {
	padding: 25px 0;
}

/* SVG */

.svgtop {
	position: absolute;
	top: -1px;
	left:0;
}

.svgbottom {
	position: absolute;
	bottom: -1px;
	left:0;
}

.svgtest {
	position: absolute;
	top: -100px;
	left: 0;
}

/* SECTION STYLES */
.section {
	padding: 50px;
	color: #4b4b4b;
}

.section-shape {
	padding: 150px 0;
	background-color: #007ecf;
	position: relative;
	color: #fff;
}

.section-title {
	font-weight: 300;
	text-align: center;
	margin-bottom: 50px;
}

.section-text {
	margin-bottom: 50px;
	text-align: center;
}

.section-img {
	display: block;
	margin: 0 auto;
	width: 80%;
	height: auto;
}

/* DOWNLOAD SECTION */
.download-number {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 130px;
	height: 130px;
	border-radius: 90px;
	margin: 0 auto 20px auto;
	color: #fff;
}

.fab {
	width: 100px;
	height: auto;
}

.d-green {
	background-color: #a5c63b;
}

.d-orange {
	background-color: #f8682c;
}

.d-blue {
	background-color: #009ddc;
}

.update-img {
	margin-top: 40px;
}

#updates button {
	margin-top: 15px;
}

/* forms style */

.input {
	border: 0;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background-color: transparent;
}

.input-gray {
	border-bottom-color: #5d5d5d;
}

.input-white {
	border-bottom-color: #fff;
}

/* APP SUPPORT */
#support {
	background-image: url('../img/support-bg.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.online {
	background-color: #05d10f;
	border-radius: 10px;
	padding: 2px 10px;
	font-size: 14px;
}

.chat img {
	margin: 20px 0;
}

.chat a {
	margin-top: 20px;
}

.contact-form input::placeholder {
	color: #fff;
}

.contact-form textarea::placeholder {
	color: #fff;
}

.contact-form input, .contact-form textarea {
	width: 100%;
}

.contact-form input {
	margin-bottom: 15px;
}

.contact-form textarea {
	height: 100px;
}

.contact-form button {
	margin: 20px auto;
}

/* VIDEO */

#video {
	background-image: url('../img/video-bg-opacity.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* CHOOSE US */

#choose-us {
	background-image: url('../img/choose-us-opacity-bg.png');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

/* DOWNLOAD */
#download {
	padding-top: 50px;
	background-image: url('../img/download-bg.png');
	background-size: cover;
	background-position: center;
}

/* NEWSLETTER */
.newsletter button {
	
	margin-left: 20px;
}

/* SOCIAL */
.social {
	margin: 20px 5px;
}

.f-hover {
	margin-right: 40px;
	color: #4b4b4b;
}

.f-hover:last-child {
	margin-right: 0;
}

.f-hover:hover {
	color: #007ecf;
}

.info {
	margin-bottom: 30px;
}

/* SLIDER */
.carousel-img {
	width: 100%;
	height: auto;
}

.carousel-inner {
	width: 80%;
	margin: 0 auto;
}

.carousel-control-prev, .carousel-control-next {
	width: 10%;
}


.carousel-control-icons {
	background-image: none;
	width: 50px;
	height: auto;
}

.feature {
	margin-bottom: 30px;
}

.feature h2 {
	margin-top: 15px;
	font-size: 18px;
}

.feature img {
	transition: transform 1s;
}

.feature img:hover {
	transform: rotate(360deg);
}

#choose-us img {
	margin: 30px auto;
	height: 400px;
	width: auto;
}

@media all and (min-width: 992px) {
	#choose-us img {
		display: block;
		margin: 0 auto;
		width: 80%;
		height: auto;
	}
}