*, *:after, *:before {
  box-sizing: border-box; }

html, body, ul, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  font-size: 14px; }

a {
  text-decoration: none; }

ul {
  list-style-type: none; }

.btn {
  display: block;
  max-width: 200px;
  padding: 15px 35px;
  cursor: pointer;
  font-weight: 600;
  font-size: 20px; }

.btn-gradient {
  transition: transform 0.5s; }
  .btn-gradient:hover {
    transform: scale(1.2); }

.btn-rounded {
  background-color: transparent;
  border-style: solid;
  border-width: 2px;
  border-color: #fff;
  border-radius: 30px; }

.bg-gradient, .btn-gradient, .footer-col h1, .copyright {
  background: linear-gradient(45deg, #fd3fb3, #fd3f81, #fd3e4f); }

.bg-gradient-alt {
  background: linear-gradient(0deg, #fd3fb3, #fd3f81, #fd3e4f); }

.f-white, .member-content a {
  color: #fff; }

.f-red {
  color: #fd3e4f; }

.f-dark, .member h2 {
  color: #222222; }

.section {
  padding: 70px 0; }

.section-title {
  font-size: 35px;
  font-weight: 900;
  margin-bottom: 50px;
  text-align: center; }
  @media all and (min-width: 768px) {
    .section-title {
      text-align: left; } }

.container {
  padding: 0 10px;
  margin: 0 auto; }
  @media all and (min-width: 1200px) {
    .container {
      max-width: 1200px; } }

.navbar {
  position: absolute;
  top: 20px;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff; }
  .navbar a {
    color: #fff; }
  @media all and (min-width: 992px) {
    .navbar {
      flex-direction: row; } }

.open {
  font-size: 26px;
  font-weight: 900; }
  @media all and (min-width: 992px) {
    .open {
      display: none; } }

.navbar-menu {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  background: rgba(253, 62, 79, 0.9);
  overflow-y: auto;
  z-index: 1; }
  .navbar-menu li {
    padding: 10px; }
  .navbar-menu a {
    font-size: 18px;
    font-weight: 600; }
  @media all and (min-width: 992px) {
    .navbar-menu {
      position: static;
      display: flex;
      flex-direction: row;
      width: 60%;
      background: none; }
      .navbar-menu li {
        position: relative; }
        .navbar-menu li:after {
          position: absolute;
          content: '';
          top: 0;
          left: 0;
          width: 0;
          transition: width 0.5s; }
        .navbar-menu li:hover:after {
          width: 100%;
          height: 5px;
          background: linear-gradient(45deg, #fd3fb3, #fd3f81, #fd3e4f); } }

.close {
  margin-top: 30px;
  font-size: 22px;
  font-weight: 900; }
  @media all and (min-width: 992px) {
    .close {
      display: none; } }

.navbar-brand {
  font-size: 25px;
  font-weight: 600;
  text-align: center; }
  @media all and (min-width: 992px) {
    .navbar-brand {
      width: 20%; } }

.navbar-social a {
  transition: color 0.7s;
  margin-right: 15px;
  font-size: 20px; }
  .navbar-social a:last-child {
    margin-right: 0; }
  .navbar-social a:hover {
    color: #fd3e4f; }
@media all and (min-width: 992px) {
  .navbar-social {
    width: 20%; } }

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  color: #fff;
  padding-top: 170px;
  padding-bottom: 150px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  background-image: url("../img/banner-bg.jpg");
  background-size: cover;
  background-attachment: fixed; }
  .banner h1 {
    font-size: 18px;
    font-weight: 300; }
  .banner h2 {
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 25px;
    font-weight: 900; }
  @media all and (min-width: 992px) {
    .banner h1 {
      font-size: 30px; }
    .banner h2 {
      font-size: 50px; } }

#about p {
  font-size: 25px;
  line-height: 200%; }
#about button {
  display: block;
  margin-left: auto;
  margin-right: 0;
  margin-top: 30px; }

@media all and (min-width: 768px) {
  #process {
    display: flex; } }

.process-col {
  position: relative;
  padding: 40px 20px; }
  .process-col h1 {
    position: absolute;
    z-index: -1;
    top: 60px;
    left: 20px;
    color: #ffe9eb;
    font-size: 70px; }
  .process-col h2 {
    margin: 15px 0;
    color: #5c5c5c;
    font-size: 20px; }
  .process-col p {
    color: #7b7b7b; }
  @media all and (min-width: 768px) {
    .process-col {
      width: 33%;
      min-height: 350px; }
      .process-col:hover {
        background: linear-gradient(45deg, #fd3fb3, #fd3f81, #fd3e4f); }
      .process-col:hover h1 {
        position: static;
        color: #fff; }
      .process-col:hover p {
        color: #fff; }
      .process-col:hover h2 {
        color: #fff; } }

@media all and (min-width: 768px) {
  .members {
    display: flex; } }

.member-content {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  border-radius: 5px; }
  .member-content a {
    padding: 15px;
    font-size: 20px; }

.member-img {
  position: relative; }
  .member-img img {
    width: 100%;
    height: auto; }
  .member-img:hover .member-content {
    display: flex;
    width: 100%;
    height: 100%; }

.member {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  text-align: center; }
  .member:last-child {
    margin-bottom: 0; }
  .member h2 {
    font-size: 22px; }
  .member h3 {
    color: #7b7b7b;
    /*font: {
    	family: ;
    }*/ }
  @media all and (min-width: 576px) {
    .member {
      width: 60%; } }
  @media all and (min-width: 768px) {
    .member {
      width: 32%;
      margin-left: 0;
      margin-right: 2%;
      margin-bottom: 0; }
      .member:last-child {
        margin-right: 0; } }

#cs1 p {
  color: #7b7b7b;
  line-height: 200%; }
#cs1 a {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto; }
  @media all and (min-width: 768px) {
    #cs1 a {
      margin-left: 0;
      margin-right: 0; } }

@media all and (min-width: 768px) {
  .cs {
    display: flex; } }

@media all and (min-width: 768px) {
  .col {
    width: 30%; } }

.col-img {
  display: none; }
  .col-img img {
    width: 80%;
    height: auto; }
  @media all and (min-width: 768px) {
    .col-img {
      width: 70%;
      display: block; } }

#cs2 {
  background-color: #f4f4f4; }
  #cs2 p {
    color: #7b7b7b;
    line-height: 200%; }
  #cs2 img {
    display: block;
    margin-left: auto;
    margin-right: 0; }

#features {
  background-color: #222222;
  text-align: center; }
  @media all and (min-width: 768px) {
    #features {
      text-align: left; } }

.features p {
  line-height: 200%; }
@media all and (min-width: 768px) {
  .features {
    display: flex; } }

@media all and (min-width: 768px) {
  .feature-col {
    width: 32%;
    margin-right: 2%; }
    .feature-col:last-child {
      margin-right: 0; } }
.feature-col:first-child {
  margin-bottom: 30px; }
  .feature-col:first-child p {
    font-size: 18px; }
  @media all and (min-width: 768px) {
    .feature-col:first-child p {
      margin-bottom: 0; } }

.feature {
  margin-bottom: 30px; }
  .feature h2 {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 20px; }

.feature-img {
  height: 50px; }

.footer {
  background-image: url("../img/footer-bg.png");
  background-repeat: no-repeat;
  background-position: top right; }
  .footer p {
    line-height: 200%; }
  .footer p, .footer span {
    color: #222222; }

@media all and (min-width: 768px) {
  .innanazwa {
    display: flex; } }

.footer-col {
  margin-bottom: 30px; }
  .footer-col:last-child {
    margin-bottom: 0; }
  @media all and (min-width: 768px) {
    .footer-col {
      margin-right: 2%;
      margin-bottom: 0;
      width: 28%; }
      .footer-col:last-child {
        margin-right: 0; }
      .footer-col:first-child {
        width: 40%; } }
  .footer-col h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; }
  .footer-col h2 {
    margin-bottom: 20px; }

.contact {
  margin-top: 20px;
  margin-bottom: 20px; }

.footer-social a {
  color: #fd3fb3;
  margin-right: 15px;
  font-size: 20px; }

.copyright {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 900;
  margin-top: 30px;
  text-align: center; }

/*# sourceMappingURL=style.css.map */
