// ==========================
// I. GENERAL
// ==========================

// 1. Fonts
//	1.1. Font Family
$poppins: 'Poppins', sans-serif;

//	1.2 Font weight
$lt: 300;
$sb: 600;
$bd: 900;

// 2. Colors
$pink: #fd3fb3;
$pink_alt: #fd3f81;
$red: #fd3e4f;
$dark: #222222;
$gray: #7b7b7b;

// 3. Mixins
@mixin img {
	width: 100%;
	height: auto;
}

@mixin text_gradient {
	@extend .bg-gradient;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

// 4. HTML Tags
*, *:after, *:before {
	box-sizing: border-box;
}

html, body, ul, p, h1, h2, h3, h4, h5, h6 {
	padding: 0;
	margin: 0;
	font: {
		family: $poppins;
		size: 14px;
	}
}

a {
	text: {
		decoration: none;
	}
}

ul {
	list-style-type: none;
}

// ==========================
// II. THEME CUSTOM STYLE
// ==========================

// Buttons
.btn {
	display: block;
	max-width: 200px;
	padding: 15px 35px;
	cursor: pointer;

	font: {
		weight: $sb;
		size: 20px;
	}

}

.btn-gradient {
	@extend .bg-gradient;
	transition: transform 0.5s;

	&:hover {
		transform: scale(1.2);
	}
}

.btn-rounded {
	background: {
		color: transparent;
	}

	border: {
		style: solid;
		width: 2px;
		color: #fff;
		radius: 30px;
	}
}

// Bg Colors
.bg-gradient {
	background: linear-gradient(45deg, $pink, $pink_alt, $red);
}

.bg-gradient-alt {
	background: linear-gradient(0deg, $pink, $pink_alt, $red);
}

// Font Colors
.f-white {
	color: #fff;
}

.f-red {
	color: $red;
}

.f-dark {
	color: $dark;
}

// Sections 
.section {
	padding: 70px 0;
}

.section-title {

	font: {
		size: 35px;
		weight: $bd;
	}

	margin: {
		bottom: 50px;
	}

	text-align: center;

	@media all and (min-width: 768px) {
		text-align: left;
	}
}

// Grid elements
.container {
	padding: 0 10px;
	margin: 0 auto;

	@media all and (min-width: 1200px) {
		max-width: 1200px;
	}
}




// ==========================
// III. SECTIONS
// ==========================

// 1. Nav
.navbar {
	position: absolute;
	top: 20px;
	left: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	color: #fff;

	a {
		color: #fff;
	}

	@media all and (min-width: 992px) {
		flex-direction: row;
	}
}

.open {
	font: {
		size: 26px;
		weight: $bd;
	}

	@media all and (min-width: 992px) {
		display: none;
	}
}

.navbar-menu {
	display: none;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background: rgba(253, 62, 79, 0.9);
	overflow-y: auto;
	z-index: 1;

	li {
		padding: 10px;
	}

	a {
		font: {
			size: 18px;
			weight: $sb;
		}
	}

	@media all and (min-width: 992px) {
		position: static;
		display: flex;
		flex-direction: row;
		width: 60%;
		background: none;

		li {
			position: relative;

			&:after {
				position: absolute;
				content: '';
				top: 0;
				left: 0;
				width: 0;
				transition: width 0.5s;
			}

			&:hover {

				&:after {
					width: 100%;
					height: 5px;
					background: linear-gradient(45deg, $pink, $pink_alt, $red);
				}
			}
		}
	}
}

.close {
	margin: {
		top: 30px;
	}

	font: {
		size: 22px;
		weight: $bd;
	}

	@media all and (min-width: 992px) {
		display: none;
	}
}

.navbar-brand {
	font: {
		size: 25px;
		weight: $sb;
	}

	text-align: center;

	@media all and (min-width: 992px) {
		width: 20%;
	}
}

.navbar-social {

	a {
		transition: color 0.7s;
		margin-right: 15px;
		font: {
			size: 20px;
		}

		&:last-child {
			margin-right: 0;
		}

		&:hover {
			color: $red;
		}
	}

	@media all and (min-width: 992px) {
		width: 20%;
	}
	
}

// 2. Banner
.banner {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: #fff;
	padding: {
		top: 170px;
		bottom: 150px;
		left: 10px;
		right: 10px;
	}
	text: {
		align: center;
	}

	background: {
		image: url('../img/banner-bg.jpg');
		size: cover;
		attachment: fixed;
	}

	h1 {
		font: {
			size: 18px;
			weight: $lt;
		}
	}	

	h2 {
		margin: {
			top: 30px;
			bottom: 70px;
		}

		font: {
			size: 25px;
			weight: $bd;
		}
	}

	@media all and (min-width: 992px) {
		h1 {
			font: {
				size: 30px;
			}
		}	

		h2 {
			font: {
				size: 50px;
			}
		}
	}
}

// 3. About
#about {

	p {
		font: {
			size: 25px;
		}

		line-height: 200%;
	}

	button {
		display: block;
		margin: {
			left: auto;
			right: 0;
			top: 30px;
		}
	}
}

// 4. Process
#process {
	@media all and (min-width: 768px) {
		display: flex;
	}
}

.process-col {
	position: relative;
	padding: 40px 20px;

	h1 {
		position: absolute;
		z-index: -1;
		top: 60px;
		left: 20px;
		color: #ffe9eb;
		font: {
			size: 70px;
		}
	}

	h2 {
		margin: 15px 0;
		color: #5c5c5c;
		font: {
			size: 20px;
		}
	}

	p {
		color: $gray;
	}
	

	@media all and (min-width: 768px) {
		width: 33%;

		min-height: 350px;

		&:hover {
			background: linear-gradient(45deg, $pink, $pink_alt, $red);
		}

		&:hover h1 {
			position: static;
			color: #fff;
		}

		&:hover p {
			color: #fff;
		}

		&:hover h2 {
			color: #fff;
		}
	}
}

// 5.Team
.members {
	@media all and (min-width: 768px) {
		display: flex;
	}
}

.member-content {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	justify-content: center;
	align-items: center;

	border: {
		radius: 5px;
	}

	a {
		padding: 15px;
		font-size: 20px;
		@extend .f-white;
	}
}

.member-img {
	position: relative;

	img {
		@include img;
	}

	&:hover .member-content {
		display: flex;
		width: 100%;
		height: 100%;
	}
}

.member {
	width: 80%;

	margin: {
		left: auto;
		right: auto;
		bottom: 30px;
	}

	&:last-child {
		margin: {
			bottom: 0;
		}
	}

	text: {
		align: center;
	}

	h2 {
		@extend .f-dark;
		font: {
			size: 22px;
		}
	}

	h3 {
		color: $gray;
		/*font: {
			family: ;
		}*/
	} 

	@media all and (min-width: 576px) {
		width: 60%;
	}

	@media all and (min-width: 768px) {
		width: 32%;
		margin: {
			left: 0;
			right: 2%;
			bottom: 0;
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}
	}
}

// 6. CS1
#cs1 {

	p {
		color: $gray;
		line-height: 200%;
	}

	a {
		margin: {
			top: 30px;
			left: auto;
			right: auto;
		}

		@media all and (min-width: 768px) {
			margin: {
				left: 0;
				right: 0;
			}
		}
	}
}

.cs {
	@media all and (min-width: 768px) {
		display: flex;
	}
}

.col {
	@media all and (min-width: 768px) {
		width: 30%;
	}
}

.col-img {
	display: none;
	img {
		width: 80%;
		height: auto;
	}

	@media all and (min-width: 768px) {
		width: 70%;
		display: block;
	}
}
// 7. CS2
#cs2 {
	background: {
		color: #f4f4f4;
	}

	p {
		color: $gray;
		line-height: 200%;
	}

	img {
		display: block;
		margin: {
			left: auto;
			right: 0;
		}
	}
}

// 8. Features
#features {
	background: {
		color: $dark;
	}

	text-align: center;

	@media all and (min-width: 768px) {
		text-align: left;
	}
}

.features {
	p {
		line-height: 200%;
	}
	@media all and (min-width: 768px) {
		display: flex;
	}
}

.feature-col {

	@media all and (min-width: 768px) {
		width: 32%;
		margin: {
			right: 2%;
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}
	}

	&:first-child {

		margin: {
			bottom: 30px;
		}

		p {
			font: {
				size: 18px;
			}
		}

		@media all and (min-width: 768px) {
			p {
				margin: {
					bottom: 0;
				}
			}
		}
	}
}

.feature {

	margin: {
		bottom: 30px;
	}

	h2 {
		margin: {
			top: 15px;
			bottom: 15px;
		}
		font: {
			size: 20px;
		}
	}
}

.feature-img {
	height: 50px;
}

// 9. Footer
.footer {
	background: {
		image: url('../img/footer-bg.png');
		repeat: no-repeat;
		position: top right;
	}

	p {
		line-height: 200%;
	}

	p, span {
		color: $dark;
	}
}

.innanazwa {
	@media all and (min-width: 768px) {
		display: flex;
	}
}

.footer-col {

	margin: {
		bottom: 30px;
	}

	&:last-child {
		margin: {
			bottom: 0;
		}
	}

	@media all and (min-width: 768px) {
		margin: {
			right: 2%;
			bottom: 0;
		}

		&:last-child {
			margin: {
				right: 0;
			}
		}

		&:first-child {
			width: 40%;
		}

		width: 28%;
	}

	h1 {
		@include text_gradient;
	}

	h2 {
		margin: {
			bottom: 20px;
		}
	}
}

.contact {
	margin: {
		top: 20px;
		bottom: 20px;
	}
}

.footer-social {

	a {

		color: $pink;
		margin: {
			right: 15px;
		}

		font-size: 20px;
	}
}

.copyright {
	@include text_gradient;
	font: {
		weight: $bd;
	}

	margin: {
		top: 30px;
	}

	text: {
		align: center;
	}
}